body{
    background: black;
}





#self{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: xx-large;
    color: rgb(225, 127, 255);
    position: center;
    accent-color: calc(rgb(0, 255, 255));
    border: calc(rgb(0, 255, 255));
    border-color: calc(rgb(0, 255, 255));
    border-radius: 150px;
    padding: 30px;
    background: rgb(0, 255, 255);
}
h1{
     font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(119, 245, 140);
    position: center;
    accent-color: calc(rgb(0, 255, 255));
    border: calc(rgb(0, 255, 255));
    border-color: calc(rgb(0, 255, 255));
    border-radius: 50px;
    padding: 30px;
    background: rgb(206, 160, 100);
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: medium;
    color: rgb(46, 91, 173);
    position: relative;
}
img{
    width: 200px;
    height: 200px;
    padding: -240px;
    border: beige;
    border-radius: 50px;
    background: beige;
    position: relative;
    background-image: calc(rgb(255, 255, 255));
}
#inc{
    font-size: xx-large;
    color: #ca5858;
}
#nine{
    box-sizing: border-box;
    border: solid 5px snow;
    background-color: beige;
    font-size: xx-large;
    font-weight: 500;
    border-radius: 50px;
}